@import "tailwindcss";
@config "../../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --secondary: #E9E3DF;
  --primary: #465C88;
  --highlight: #FF7A30;
  --primary-alfa: rgb(248, 176, 43);
  --white: #dadada;
  --black: #1f1f1f;
} */

@theme inline {
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: black;
  font-size: 60px;
}

.primary-text {
  color: var(--primary);
}

input:focus {
  outline: none;
}

input {
  border: 1px solid var(--primary);
  padding: 8px;
  border-radius: 4px;
}

.primary-button {
  background-color: var(--primary);
  color: var(--white);
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
}


.bg-black * {
  color: var(--white) !important;
}

.bg-black .primary-button {
  background-color: var(--white) !important;
  color: var(--primary) !important;
}

.circle-green-gradient {
  background: radial-gradient(circle, var(--primary) 10%, var(--secondary) 100%);
}

@media screen and (max-width : 480px) {
  .circle-green-gradient {
    background: radial-gradient(circle at bottom, var(--primary) 10%, var(--secondary) 100%);
  }
}