@import "tailwindcss";
@config "../../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-alfa: #393a393a;
  --white: #ffffff;
  --black: #1f1f1f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #b8bab4;
    --foreground: #4f564d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: black;
  font-size: 60px;
}

a {
  color: var(--white);
}

.primary-text {
  color: var(--foreground);
}

input:focus {
  outline: none;
}